tests/templates/kuttl/iceberg/60_nifi-flow.json
{
    "externalControllerServices": {},
    "flowContents": {
        "comments": "",
        "componentType": "PROCESS_GROUP",
        "connections": [
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
                    "id": "0ccd3baf-e0f5-3935-b660-456082596e69",
                    "instanceIdentifier": "16507d9c-da5d-3d39-9aa3-7e0a71b5851a",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
                "identifier": "a3bbe2a3-2115-3ede-8759-d32c3b7c899e",
                "instanceIdentifier": "e43fe911-835c-3352-aa1a-845f31de21c5",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
                    "id": "abd8dd79-b5f5-368a-9562-633fd93c784b",
                    "instanceIdentifier": "ae5bb10d-a92c-3066-883a-beb2a239441b",
                    "name": "PutIceberg",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
                    "id": "abd8dd79-b5f5-368a-9562-633fd93c784b",
                    "instanceIdentifier": "ae5bb10d-a92c-3066-883a-beb2a239441b",
                    "name": "PutIceberg",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
                "identifier": "11cf418f-4873-3913-b573-a2b07322b81d",
                "instanceIdentifier": "974a02ce-97c5-3903-a32b-09837c297f50",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
                    "id": "27782850-84c8-37e6-a437-a74b2308e57e",
                    "instanceIdentifier": "857e02bd-f9b2-3dde-a564-01e8594b1cb2",
                    "name": "GenerateFlowFile",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
                    "id": "5a024e6e-7818-3e73-ffff-ffff964a69c4",
                    "instanceIdentifier": "5737572d-d766-3b40-8612-5854ddb29b39",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
                "identifier": "6a11518e-a129-3faa-8bf2-71c2ad5d8d6f",
                "instanceIdentifier": "f31cd9f5-16a1-3b74-929b-997f1c7446e7",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
                    "id": "abd8dd79-b5f5-368a-9562-633fd93c784b",
                    "instanceIdentifier": "ae5bb10d-a92c-3066-883a-beb2a239441b",
                    "name": "PutIceberg",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            }
        ],
        "controllerServices": [
            {
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-aws-nar",
                    "group": "org.apache.nifi",
                    "version": "2.2.0"
                },
                "comments": "",
                "componentType": "CONTROLLER_SERVICE",
                "controllerServiceApis": [
                    {
                        "bundle": {
                            "artifact": "nifi-aws-service-api-nar",
                            "group": "org.apache.nifi",
                            "version": "2.2.0"
                        },
                        "type": "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService"
                    },
                    {
                        "bundle": {
                            "artifact": "nifi-aws-service-api-nar",
                            "group": "org.apache.nifi",
                            "version": "2.2.0"
                        },
                        "type": "org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService"
                    }
                ],
                "groupIdentifier": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
                "identifier": "d9e8d00a-c387-3064-add2-c6060f158ae7",
                "instanceIdentifier": "9aea49ad-5078-385b-9890-7eae61aad31d",
                "name": "AWSCredentialsProviderControllerService",
                "properties": {
                    "anonymous-credentials": "false",
                    "Assume Role ARN": null,
                    "Assume Role Session Name": null,
                    "assume-role-external-id": null,
                    "assume-role-proxy-configuration-service": null,
                    "assume-role-ssl-context-service": null,
                    "assume-role-sts-endpoint": null,
                    "assume-role-sts-region": "us-west-2",
                    "assume-role-sts-signer-override": "Default Signature",
                    "Credentials File": null,
                    "custom-signer-class-name": null,
                    "custom-signer-module-location": null,
                    "default-credentials": "false",
                    "profile-name": null,
                    "Session Time": "3600",
                    "Access Key": "admin",
                    "Secret Key": "adminadmin"
                },
                "propertyDescriptors": {
                    "Access Key": {
                        "displayName": "Access Key ID",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "Access Key",
                        "sensitive": true
                    },
                    "anonymous-credentials": {
                        "displayName": "Use Anonymous Credentials",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "anonymous-credentials",
                        "sensitive": false
                    },
                    "Assume Role ARN": {
                        "displayName": "Assume Role ARN",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "Assume Role ARN",
                        "sensitive": false
                    },
                    "Assume Role Session Name": {
                        "displayName": "Assume Role Session Name",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "Assume Role Session Name",
                        "sensitive": false
                    },
                    "assume-role-external-id": {
                        "displayName": "Assume Role External ID",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "assume-role-external-id",
                        "sensitive": false
                    },
                    "assume-role-proxy-configuration-service": {
                        "displayName": "Assume Role Proxy Configuration Service",
                        "dynamic": false,
                        "identifiesControllerService": true,
                        "name": "assume-role-proxy-configuration-service",
                        "sensitive": false
                    },
                    "assume-role-ssl-context-service": {
                        "displayName": "Assume Role SSL Context Service",
                        "dynamic": false,
                        "identifiesControllerService": true,
                        "name": "assume-role-ssl-context-service",
                        "sensitive": false
                    },
                    "assume-role-sts-endpoint": {
                        "displayName": "Assume Role STS Endpoint Override",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "assume-role-sts-endpoint",
                        "sensitive": false
                    },
                    "assume-role-sts-region": {
                        "displayName": "Assume Role STS Region",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "assume-role-sts-region",
                        "sensitive": false
                    },
                    "assume-role-sts-signer-override": {
                        "displayName": "Assume Role STS Signer Override",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "assume-role-sts-signer-override",
                        "sensitive": false
                    },
                    "Credentials File": {
                        "displayName": "Credentials File",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "Credentials File",
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        },
                        "sensitive": false
                    },
                    "custom-signer-class-name": {
                        "displayName": "Custom Signer Class Name",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "custom-signer-class-name",
                        "sensitive": false
                    },
                    "custom-signer-module-location": {
                        "displayName": "Custom Signer Module Location",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "custom-signer-module-location",
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "DIRECTORY",
                                "FILE"
                            ]
                        },
                        "sensitive": false
                    },
                    "default-credentials": {
                        "displayName": "Use Default Credentials",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "default-credentials",
                        "sensitive": false
                    },
                    "profile-name": {
                        "displayName": "Profile Name",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "profile-name",
                        "sensitive": false
                    },
                    "Secret Key": {
                        "displayName": "Secret Access Key",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "Secret Key",
                        "sensitive": true
                    },
                    "Session Time": {
                        "displayName": "Assume Role Session Time",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "Session Time",
                        "sensitive": false
                    }
                },
                "scheduledState": "DISABLED",
                "type": "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService"
            },
            {
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-record-serialization-services-nar",
                    "group": "org.apache.nifi",
                    "version": "2.2.0"
                },
                "comments": "",
                "componentType": "CONTROLLER_SERVICE",
                "controllerServiceApis": [
                    {
                        "bundle": {
                            "artifact": "nifi-standard-services-api-nar",
                            "group": "org.apache.nifi",
                            "version": "2.2.0"
                        },
                        "type": "org.apache.nifi.serialization.RecordReaderFactory"
                    }
                ],
                "groupIdentifier": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
                "identifier": "af6f000d-1afb-39a5-89be-2ff9176b53fe",
                "instanceIdentifier": "654dcad1-4064-3fd9-9090-66434221e547",
                "name": "JsonTreeReader",
                "properties": {
                    "Allow Comments": "false",
                    "Date Format": null,
                    "Max String Length": "20 MB",
                    "schema-access-strategy": "infer-schema",
                    "schema-application-strategy": "SELECTED_PART",
                    "schema-branch": null,
                    "schema-inference-cache": null,
                    "schema-name": "${schema.name}",
                    "schema-reference-reader": null,
                    "schema-registry": null,
                    "schema-text": "${avro.schema}",
                    "schema-version": null,
                    "starting-field-name": null,
                    "starting-field-strategy": "ROOT_NODE",
                    "Time Format": null,
                    "Timestamp Format": null
                },
                "propertyDescriptors": {
                    "Allow Comments": {
                        "displayName": "Allow Comments",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "Allow Comments",
                        "sensitive": false
                    },
                    "Date Format": {
                        "displayName": "Date Format",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "Date Format",
                        "sensitive": false
                    },
                    "Max String Length": {
                        "displayName": "Max String Length",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "Max String Length",
                        "sensitive": false
                    },
                    "schema-access-strategy": {
                        "displayName": "Schema Access Strategy",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "schema-access-strategy",
                        "sensitive": false
                    },
                    "schema-application-strategy": {
                        "displayName": "Schema Application Strategy",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "schema-application-strategy",
                        "sensitive": false
                    },
                    "schema-branch": {
                        "displayName": "Schema Branch",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "schema-branch",
                        "sensitive": false
                    },
                    "schema-inference-cache": {
                        "displayName": "Schema Inference Cache",
                        "dynamic": false,
                        "identifiesControllerService": true,
                        "name": "schema-inference-cache",
                        "sensitive": false
                    },
                    "schema-name": {
                        "displayName": "Schema Name",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "schema-name",
                        "sensitive": false
                    },
                    "schema-reference-reader": {
                        "displayName": "Schema Reference Reader",
                        "dynamic": false,
                        "identifiesControllerService": true,
                        "name": "schema-reference-reader",
                        "sensitive": false
                    },
                    "schema-registry": {
                        "displayName": "Schema Registry",
                        "dynamic": false,
                        "identifiesControllerService": true,
                        "name": "schema-registry",
                        "sensitive": false
                    },
                    "schema-text": {
                        "displayName": "Schema Text",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "schema-text",
                        "sensitive": false
                    },
                    "schema-version": {
                        "displayName": "Schema Version",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "schema-version",
                        "sensitive": false
                    },
                    "starting-field-name": {
                        "displayName": "Starting Field Name",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "starting-field-name",
                        "sensitive": false
                    },
                    "starting-field-strategy": {
                        "displayName": "Starting Field Strategy",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "starting-field-strategy",
                        "sensitive": false
                    },
                    "Time Format": {
                        "displayName": "Time Format",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "Time Format",
                        "sensitive": false
                    },
                    "Timestamp Format": {
                        "displayName": "Timestamp Format",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "Timestamp Format",
                        "sensitive": false
                    }
                },
                "scheduledState": "DISABLED",
                "type": "org.apache.nifi.json.JsonTreeReader"
            },
            {
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-iceberg-services-nar",
                    "group": "tech.stackable.nifi",
                    "version": "0.0.1"
                },
                "comments": "",
                "componentType": "CONTROLLER_SERVICE",
                "controllerServiceApis": [
                    {
                        "bundle": {
                            "artifact": "nifi-iceberg-services-api-nar",
                            "group": "tech.stackable.nifi",
                            "version": "0.0.1"
                        },
                        "type": "tech.stackable.nifi.services.iceberg.IcebergCatalogService"
                    }
                ],
                "groupIdentifier": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
                "identifier": "64202e39-4c8e-3ba5-9096-35c75272f5a4",
                "instanceIdentifier": "1fba3438-db48-3c0e-b80b-ea07b20b8b0d",
                "name": "IcebergHiveCatalogService",
                "properties": {
                    "AWS Credentials Provider service": "d9e8d00a-c387-3064-add2-c6060f158ae7",
                    "hive-metastore-uri": "thrift://hive:9083",
                    "s3-endpoint": "https://minio.${NAMESPACE}.svc.cluster.local:9000",
                    "s3-path-style-access": "true",
                    "warehouse-location": "s3a://demo/lakehouse"
                },
                "propertyDescriptors": {
                    "AWS Credentials Provider service": {
                        "displayName": "AWS Credentials Provider Service",
                        "dynamic": false,
                        "identifiesControllerService": true,
                        "name": "AWS Credentials Provider service",
                        "sensitive": false
                    },
                    "hive-metastore-uri": {
                        "displayName": "Hive Metastore URI",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "hive-metastore-uri",
                        "sensitive": false
                    },
                    "s3-endpoint": {
                        "displayName": "S3 endpoint",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "s3-endpoint",
                        "sensitive": false
                    },
                    "s3-path-style-access": {
                        "displayName": "S3 path style access",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "s3-path-style-access",
                        "sensitive": false
                    },
                    "warehouse-location": {
                        "displayName": "Default Warehouse Location",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "warehouse-location",
                        "sensitive": false
                    }
                },
                "scheduledState": "DISABLED",
                "type": "tech.stackable.nifi.services.iceberg.IcebergHiveCatalogService"
            }
        ],
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultFlowFileExpiration": "0 sec",
        "executionEngine": "INHERITED",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "funnels": [
            {
                "componentType": "FUNNEL",
                "groupIdentifier": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
                "identifier": "5a024e6e-7818-3e73-ffff-ffff964a69c4",
                "instanceIdentifier": "5737572d-d766-3b40-8612-5854ddb29b39",
                "position": {
                    "x": -416.0,
                    "y": -176.0
                }
            },
            {
                "componentType": "FUNNEL",
                "groupIdentifier": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
                "identifier": "0ccd3baf-e0f5-3935-b660-456082596e69",
                "instanceIdentifier": "16507d9c-da5d-3d39-9aa3-7e0a71b5851a",
                "position": {
                    "x": 88.0,
                    "y": -416.0
                }
            }
        ],
        "identifier": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
        "inputPorts": [],
        "instanceIdentifier": "80ce4814-0196-1000-0000-00006f596034",
        "labels": [],
        "maxConcurrentTasks": 1,
        "name": "Iceberg Test",
        "outputPorts": [],
        "position": {
            "x": 100.0,
            "y": 10.0
        },
        "processGroups": [],
        "processors": [
            {
                "autoTerminatedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-iceberg-processors-nar",
                    "group": "tech.stackable.nifi",
                    "version": "0.0.1"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
                "identifier": "abd8dd79-b5f5-368a-9562-633fd93c784b",
                "instanceIdentifier": "ae5bb10d-a92c-3066-883a-beb2a239441b",
                "maxBackoffPeriod": "10 mins",
                "name": "PutIceberg",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": -568.0,
                    "y": -456.0
                },
                "properties": {
                    "catalog-namespace": "test",
                    "catalog-service": "64202e39-4c8e-3ba5-9096-35c75272f5a4",
                    "file-format": "PARQUET",
                    "maximum-commit-duration": "30 sec",
                    "maximum-commit-wait-time": "2 sec",
                    "maximum-file-size": null,
                    "minimum-commit-wait-time": "100 ms",
                    "number-of-commit-retries": "10",
                    "record-reader": "af6f000d-1afb-39a5-89be-2ff9176b53fe",
                    "table-name": "greetings",
                    "unmatched-column-behavior": "FAIL_UNMATCHED_COLUMN"
                },
                "propertyDescriptors": {
                    "catalog-namespace": {
                        "displayName": "Catalog Namespace",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "catalog-namespace",
                        "sensitive": false
                    },
                    "catalog-service": {
                        "displayName": "Catalog Service",
                        "dynamic": false,
                        "identifiesControllerService": true,
                        "name": "catalog-service",
                        "sensitive": false
                    },
                    "file-format": {
                        "displayName": "File Format",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "file-format",
                        "sensitive": false
                    },
                    "maximum-commit-duration": {
                        "displayName": "Maximum Commit Duration",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "maximum-commit-duration",
                        "sensitive": false
                    },
                    "maximum-commit-wait-time": {
                        "displayName": "Maximum Commit Wait Time",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "maximum-commit-wait-time",
                        "sensitive": false
                    },
                    "maximum-file-size": {
                        "displayName": "Maximum File Size",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "maximum-file-size",
                        "sensitive": false
                    },
                    "minimum-commit-wait-time": {
                        "displayName": "Minimum Commit Wait Time",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "minimum-commit-wait-time",
                        "sensitive": false
                    },
                    "number-of-commit-retries": {
                        "displayName": "Number of Commit Retries",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "number-of-commit-retries",
                        "sensitive": false
                    },
                    "record-reader": {
                        "displayName": "Record Reader",
                        "dynamic": false,
                        "identifiesControllerService": true,
                        "name": "record-reader",
                        "sensitive": false
                    },
                    "table-name": {
                        "displayName": "Table Name",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "table-name",
                        "sensitive": false
                    },
                    "unmatched-column-behavior": {
                        "displayName": "Unmatched Column Behavior",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "unmatched-column-behavior",
                        "sensitive": false
                    }
                },
                "retriedRelationships": [],
                "retryCount": 10,
                "runDurationMillis": 0,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "tech.stackable.nifi.processors.iceberg.PutIceberg",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "2.2.0"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "3898fb3b-0ba0-3e28-ad83-27d65179d012",
                "identifier": "27782850-84c8-37e6-a437-a74b2308e57e",
                "instanceIdentifier": "857e02bd-f9b2-3dde-a564-01e8594b1cb2",
                "maxBackoffPeriod": "10 mins",
                "name": "GenerateFlowFile",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": -568.0,
                    "y": -704.0
                },
                "properties": {
                    "Batch Size": "1",
                    "character-set": "UTF-8",
                    "Data Format": "Text",
                    "File Size": "0B",
                    "generate-ff-custom-text": "{\"hello\": \"world from NiFi :)\"}",
                    "mime-type": null,
                    "Unique FlowFiles": "false"
                },
                "propertyDescriptors": {
                    "Batch Size": {
                        "displayName": "Batch Size",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "Batch Size",
                        "sensitive": false
                    },
                    "character-set": {
                        "displayName": "Character Set",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "character-set",
                        "sensitive": false
                    },
                    "Data Format": {
                        "displayName": "Data Format",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "Data Format",
                        "sensitive": false
                    },
                    "File Size": {
                        "displayName": "File Size",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "File Size",
                        "sensitive": false
                    },
                    "generate-ff-custom-text": {
                        "displayName": "Custom Text",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "generate-ff-custom-text",
                        "sensitive": false
                    },
                    "mime-type": {
                        "displayName": "Mime Type",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "mime-type",
                        "sensitive": false
                    },
                    "Unique FlowFiles": {
                        "displayName": "Unique FlowFiles",
                        "dynamic": false,
                        "identifiesControllerService": false,
                        "name": "Unique FlowFiles",
                        "sensitive": false
                    }
                },
                "retriedRelationships": [],
                "retryCount": 10,
                "runDurationMillis": 0,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "1 min",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
                "yieldDuration": "1 sec"
            }
        ],
        "remoteProcessGroups": [],
        "scheduledState": "ENABLED",
        "statelessFlowTimeout": "1 min"
    },
    "flowEncodingVersion": "1.0",
    "latest": false,
    "parameterContexts": {},
    "parameterProviders": {}
}